h1{
    padding: 50px;
}
.Carousel{
    margin-bottom: 50px;
}

.slider-images {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60vh;
    text-align: center;
    font-weight: 700;

}

.slider-images img{
    width: 380px;
    height: 260px;
    border-radius: 16px;
    padding: 6px;
}

@media  screen and (max-width: 540px) {
    .slider-images {
        height: 40vh;
        text-align: center;
        font-size: 15px;
    }
    .slider-images img{
        width: 360px;
        height: 240px;
    }
}



